<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MercadoLiebre</title>

    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

</head>

<body>
    <header>
<div>
    <img  id="logo" src="/images/logo-mercado-liebre.svg">
</div>

<div id="buscador">
   <input type="text" value="Buscar productos, marcas">
    <i class="fas fa-search"></i>
</div>

<div> 
    <p id="compracuotas"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de crédito</p>
</div>

<nav>
<ul class="menu">
    <li><a href="">Ofertas</a></li>
    <li><a href=""></a>Tiendas Oficiales</a></li>
    <li><a href=""></a>Vender</a></li>
    <li><a href=""></a>Ayuda</a></li>
</ul>
<ul class="menu">
    <li>Creá tu cuenta<i class="fas fa-shopping-basket"></i></li>
    <li>Ingresá<i class="fas fa-sign-in-alt"></i></li>
    <li>Mis compras <i class="far fa-id-card"></i></li>
</ul>
</nav>
<div class="center-container">
<div class="burger-menu">
    <i class="fas fa-bars"></i>
    </div>
    </div>
    </header>

    <main>
    <section>
        <h1>Basado en tu última visita</h1>
    </section>
    
    <section class="prod">
    <img src="/images/img-cafetera-moulinex.jpg">
<div>
   <div class="iconoenvio"> <i class="fas fa-truck"></i></div>
    <p class="precio">$6.770</p>
    <p class="desc"> 40% OFF</p>
</div>
<p>Cafetera Moulinex</p>
</section>

<section class="prod">
    <img src="/images/img-macbook-pro-2019.jpg">
<div>
    <div class="iconoenvio"> <i class="fas fa-truck"></i></div>
    <p class="precio">$230.000</p>
    <p class="desc">20% off</p>
</div>
<p>MacBook Pro 2019</p>
</section>

<section class="prod">
    <img src="/images/img-samsung-galaxy-s10.jpg">
<div>
    <div class="iconoenvio"> <i class="fas fa-truck"></i></div>
    <p class="precio">$70.500</p>
    <p class="desc">10% off</p>    
</div>
<p>Samsung Galaxy S10</p>
</section>

<section class="prod">
    <img src="/images/img-tv-samsung-smart.jpg">
<div>
    <div class="iconoenvio"> <i class="fas fa-truck"></i></div>
    <p class="precio">$23.200</p>
    <p class="desc">5% off</p>
</div>
<p>SmartTv Samsung 43"</p>
</section>

<section>
    <h1>Ofertas</h1>
</section>

<section class="prod">
    <img src="/images/img-cafetera-moulinex.jpg">
<div>
    <div class="iconoenvio"> <i class="fas fa-truck"></i></div>
    <p class="precio">$6.770</p>
    <p class="desc"> 40% OFF</p>
</div>
<p> Cafetera Moulinex</p>
</section>

<section class="prod">
    <img src="/images/img-macbook-pro-2019.jpg">
<div>
    <div class="iconoenvio"> <i class="fas fa-truck"></i></div>
    <p class="precio">$230.000</p>
    <p class="desc">20% off</p>
</div>
<p>MacBook Pro 2019</p>
</section>

<section class="prod">
    <img src="/images/img-samsung-galaxy-s10.jpg">
<div>
    <div class="iconoenvio"> <i class="fas fa-truck"></i></div>
    <p class="precio">$70.500</p>
    <p class="desc">10% off</p>
</div>
<p>Samsung Galaxy S10</p>
</section>

<section class="prod">
    <img src="/images/img-tv-samsung-smart.jpg">
<div>
    <div class="iconoenvio">  <i class="fas fa-truck"></i></div>
    <p class="precio">$23.200</p>
    <p class="desc">5% off</p>  
</div>
<p>SmartTv Samsung 43"</p>
</section>
    </main>

    <footer>
<section>
    <i class="fas fa-credit-card"></i>
    <p class="title">Pagá con tarjeta o en efectivo</p>
<p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
puntos de pago. ¡Y siempre es seguro!</p>
</section>
<section>
    <i class="fas fa-gift"></i>
    <p class="title">Envío gratis desde $ 2.500</h3>
<p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
productos. Es un beneficio de Mercado Puntos.</p>
</section>
<section>
    <i class="fas fa-user-shield"></i>
    <p class="title">Seguridad, de principio a fin</p>
<p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
    porque estás siempre protegid@.</p>
    <section> 
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>
</section>
    </footer>
</body>
</html>